@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(-102.52deg, #081827 0%, #081827 50%, #fff 70%, transparent 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
}

.signup-form,
.signin-form {
    width: 800px;
    padding: 20px;
    background-color: rgba(146, 132, 117, 0.6);
    position: relative;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px #081827;
    margin-top: 40px;
    margin-left: 70px;
}

.image-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -200px;
    width: 100%;
    position: relative;
}

.image-container img {
    width: 850px;
    height: 200vh;
    transform: translateY(-15%) rotate(-14deg);
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: -60px;
}

.signup-form h2,
.signin-form h2 {
    margin-bottom: 20px;
    color: #000;
}

.signup-form label,
.signin-form label {
    display: block;
    margin-bottom: 8px;
    color: #000;
}

.signup-form input,
.signup-form select,
.signin-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.name-container,
.dob-city-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.name-container .form-group,
.dob-container,
.city-container {
    width: calc(50% - 8px);
}

button[type="submit"] {
    background-color: #081827;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #03101c;
}

a.signin-link,
a.signup-link {
    color: black;
    text-decoration: none;
    margin-right: auto;
}

a.signin-link:hover,
a.signup-link:hover {
    text-decoration: underline;
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
}
