body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #081827;
    color: #333;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2); 
    padding: 5px 40px;
    color: white;
    z-index: 1000; 
    box-sizing: border-box;
}

header .logo img {
    max-height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    margin: 20px 10px;
}
.auth-buttons {
    display: flex;
    gap: 2px;
}
.non-auth-buttons {
    display: flex;
    gap: 2 px;
}
.btn2 {
    background-color: transparent;
    color: #081827 ;
    border: none;
    padding: 10px 8px;
    font-size: 16.5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn2:hover {
    color: white;
}
.btn {
    background-color: #081827;
    color: white;
    border: 2px solid #081827;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: transparent;
    color: white;
}

.btn:active {
    background-color: #87CEEB;
}
.banner {
    background: url('../images/banner.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 150px 20px;
    position: relative;
    z-index: 1;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden; 
}

.banner h1 {
    font-size: 4em;
    margin: 0;
}

.banner p {
    font-size: 1.8em;
    margin: 10px 0 0 0;
}

.plan-itinerary {
    padding: 40px 20px;
    text-align: center;
}

.plan-itinerary h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #87CEEB;
}

.plan-itinerary form {
    display: inline-block;
    text-align: left;
    max-width: 500px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-itinerary label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1.1em;
}

.plan-itinerary input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.plan-itinerary button {
    width: 100%;
    padding: 15px;
    background-color: #87CEEB;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
}

.plan-itinerary button:hover {
    background-color: #081827;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: #87CEEB;
    font-size: 16px;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin: 10px 0 0 0;
    justify-content: flex-end;
}

footer .social-media li a img{
    max-width: 50px;
    max-height: 50px;
    align-items: right;
}


