.planner-content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: scroll;
  }
  
  .logo {
    color: $color-dark;
    font-size: 2.4rem;
    @include flex(row, flex-start, center);
    span {
      font-family: 'Pacifico', cursive;
      margin-left: .5rem;
    }
    i {
      font-size: 5rem;
      color: $color-dark;
      background-color: $color-white;
      border-radius: 50%;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }
  }
  
  header {
    width: 100%;
    margin-bottom: 2rem;
    @include flex(row, space-between, center);
  }
  
  .planner-box {
    width: 100%;
    margin-bottom: 2rem;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      cursor: pointer;
    }
    &:active {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }
  
  .title {
    @include flex(row, space-between, center);
    background-color: lighten($color-grey, 20%);
    border-radius: 4px 4px 0 0;
    min-height: 3.5rem;
    padding-left: 1rem;
    p {
      color: $color-white;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
  
  .title.clicked {
    background-color: $color-pink;
  }
  
  .weather {
    @include flex(row, center, center);
    span {
      font-size: 1.4rem;
      color: $color-white;
    }
    img {
      width: 5rem;
      height: 5rem;
    }
  }
  
  .planner-list {
    width: 100%;
    min-height: 15rem;
  }
  
  .list-item {
    @include flex(row, space-between, center);
    margin: .5rem 0;
    padding: .3rem 1rem;
    cursor: move;
    &:hover {
      background-color: darken($color-light, 20%);
    }
    .item-content {
      @include flex(row, flex-start, center);
    }
    .place-name {
      font-weight: 400;
      margin-left: 1rem;
    }
    .icon {
      margin-bottom: 0;
    }
  }
  
  .item-actions {
    @include flex(row, center, center);
    color: $color-grey;
    .delete:hover, .duplicate:hover {
      color: $color-dark;
      cursor: pointer;
    }
  }
  
  .dragging {
    opacity: .5;
  }
  
  .planner-actions {
    width: 100%;
  }