@import "./utils";
@import "./modal";
@import "./places";
@import "./planner";

// GLOBAL STYLES
*, *::before, *::after {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.4;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; // 1 rem = 10px
  @media only screen and (max-width: 1100px) {
    font-size: 50%;
  }
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-dark;
}

.main-container {
  height: 100vh;
  @include flex(row, center, center);
}

.planner-container, .place-container {
  height: 100vh;
  width: 27vw;
  min-width: 400px;
}

.planner-container {
  padding: 1.5rem .75rem 1.5rem 1.5rem;
  @include flex(column, flex-start, flex-start);
}

.place-container {
  padding: 1.5rem 1.5rem 1.5rem .75rem;
  box-shadow: 8px 0 10px -6px rgba($color: #000000, $alpha: .3);
  // z-index: 1;
}

#map {
  width: 46vw;
  height: 100vh;
  background-color: $color-white;
}

p {
  margin: 0;
}