body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #081827;
    color: #333;
}
header .logo img {
    max-height: 60px;
}

/* utilities */
.btn {
    padding: .5rem 1rem;
    border: 0.15rem #616161 solid;
    border-radius: 6px;
    color: #616161;
  }
  .btn-dark:hover{
    color: #ffffff;
    border: 0.15rem #ffffff solid;
    background-color: #081827;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

  }
  .btn-blue:hover {
    color: #ffffff;
    border: 0.15rem #0336FF solid;
    background-color: #0336FF;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-blue:hover i {
    color: #ffffff;
    background-color: #0336FF;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-blue.selected {
    color: #ffffff;
    border: 0.15rem #0336FF solid;
    background-color: #0336FF;
  }
  
  .btn-yellow:hover {
    color: #ffffff;
    border: 0.15rem #FFDE03 solid;
    background-color: #FFDE03;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-yellow:hover i {
    color: #ffffff;
    background-color: #FFDE03;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-yellow.selected {
    color: #ffffff;
    border: 0.15rem #FFDE03 solid;
    background-color: #FFDE03;
  }
  
  .btn-green:hover {
    color: #ffffff;
    border: 0.15rem #00BFA5 solid;
    background-color: #00BFA5;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-green:hover i {
    color: #ffffff;
    background-color: #00BFA5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-green.selected {
    color: #ffffff;
    border: 0.15rem #00BFA5 solid;
    background-color: #00BFA5;
  }
  
  .btn-pink:hover {
    color: #ffffff;
    border: 0.15rem #FF0266 solid;
    background-color: #FF0266;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-pink:hover i {
    color: #ffffff;
    background-color: #FF0266;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-pink.selected {
    color: #ffffff;
    border: 0.15rem #FF0266 solid;
    background-color: #FF0266;
  }
  
  .btn-orange:hover {
    color: #ffffff;
    border: 0.15rem #FF6D00 solid;
    background-color: #FF6D00;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-orange:hover i {
    color: #ffffff;
    background-color: #FF6D00;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-orange.selected {
    color: #ffffff;
    border: 0.15rem #FF6D00 solid;
    background-color: #FF6D00;
  }
  
  .btn-purple:hover {
    color: #ffffff;
    border: 0.15rem #AA00FF solid;
    background-color: #AA00FF;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-purple:hover i {
    color: #ffffff;
    background-color: #AA00FF;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn-purple.selected {
    color: #ffffff;
    border: 0.15rem #AA00FF solid;
    background-color: #AA00FF;
  }
  
  .icon-hotel {
    color: #FFDE03;
  }
  
  .icon-hotel .material-icons {
    font-size: 1.8rem;
    padding: .3rem;
    border: 0.2rem solid #FFDE03;
    border-radius: 50%;
  }
  
  .icon-see {
    color: #0336FF;
  }
  
  .icon-see .material-icons {
    font-size: 1.8rem;
    padding: .3rem;
    border: 0.2rem solid #0336FF;
    border-radius: 50%;
  }
  
  .icon-mall {
    color: #00BFA5;
  }
  
  .icon-mall .material-icons {
    font-size: 1.8rem;
    padding: .3rem;
    border: 0.2rem solid #00BFA5;
    border-radius: 50%;
  }
  
  .icon-dining {
    color: #FF6D00;
  }
  
  .icon-dining .material-icons {
    font-size: 1.8rem;
    padding: .3rem;
    border: 0.2rem solid #FF6D00;
    border-radius: 50%;
  }
  
  .icon-cafe {
    color: #AA00FF;
  }
  
  .icon-cafe .material-icons {
    font-size: 1.8rem;
    padding: .3rem;
    border: 0.2rem solid #AA00FF;
    border-radius: 50%;
  }
  
  .icon-bar {
    color: #FF0266;
  }
  
  .icon-bar .material-icons {
    font-size: 1.8rem;
    padding: .3rem;
    border: 0.2rem solid #FF0266;
    border-radius: 50%;
  }
  
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
  }
  
  .modal-content {
    background: #eeaeca;
    background: linear-gradient(70deg, #eeaeca 0%, #94bbe9 100%);
    position: relative;
    margin: 15% auto;
    width: 40%;
    min-width: 450px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    padding: 1rem 5rem;
    z-index: 10;
  }
  
  .init-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #init-form {
    font-size: 1.4rem;
    padding: 2rem;
    width: 45%;
  }
  
  #init-form label {
    display: block;
    margin: 0 0 1rem;
    color: #191924;
    text-transform: uppercase;
  }
  
  #init-form input {
    outline: none;
    display: block;
    background: #f4f4f4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 1.2rem 2rem;
    margin-bottom: 2rem;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  
  #init-form button {
    outline: none;
    background: #ffffff;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 1.2rem 2rem;
    color: #191924;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    margin-bottom: 2rem;
  }
  
  #init-form button:hover {
    font-weight: bold;
  }
  
  #init-form a {
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  
  #init-form a:hover {
    font-weight: bold;
    cursor: pointer;
  }
  
  .intro-language {
    width: 45%;
  }
  
  .intro-language h1 {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
  }
  
  .intro-language p {
    font-size: 1.4rem;
    color: #616161;
    margin-bottom: 0.75rem;
  }
  
  .itinerary-container {
    font-size: 1.6rem;
    text-align: center;
  }
  
  .itinerary-container li {
    margin-bottom: 1rem;
  }
  
  .itinerary-container a {
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .itinerary-container a:hover {
    font-weight: bold;
  }
  
  .trip-itinerary {
    cursor: pointer;
  }
  
  .trip-itinerary:hover {
    color: #ffffff;
  }
  
  #start-date,
  #end-date {
    z-index: 999 !important;
  }
  
  .place-overview, .place-details, #directionsPanel {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .place-overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .place-details, #directionsPanel {
    overflow-y: auto;
  }
  
  .place-filter {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .place-filter .action-links {
    margin-top: 1rem;
    float: right;
  }
  
  .filter-buttons {
    font-size: 1.6rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(13rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-gap: .5rem;
    padding-bottom: 1rem;
    border-bottom: 2px dotted #616161;
  }
  
  .filter-buttons a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .action-links {
    font-size: 1.6rem;
  }
  
  .action-links:hover, .action-links:active {
    cursor: pointer;
  }
  
  #clear-filter {
    margin-right: .5rem;
    color: #616161;
  }
  
  #clear-filter:hover, #clear-filter:active {
    border-bottom: 2px solid #616161;
  }
  
  #apply-filter {
    color: #081827;
  }
  
  #apply-filter:hover, #apply-filter:active {
    border-bottom: 2px solid #616161;
  }
  
  #place-num {
    font-size: 1.4rem;
  }
  
  .place-list {
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
  
  .place-card {
    margin-bottom: 1.5rem;
    width: 98%;
    background-color: #ffffff;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .place-card:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
  }
  
  .place-img {
    width: 18rem;
    height: 18rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0 4px 4px 0;
  }
  
  .place-content {
    padding: 2rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .icon {
    margin-bottom: 1rem;
  }
  
  .place-name {
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  .place-address {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .place-rating {
    font-size: 1.2rem;
  }
  
  .stars-outer {
    position: relative;
    display: inline-block;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-outer::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #f4f4f4;
  }
  
  .stars-inner::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #FF0266;
  }
  
  .hero-photo {
    width: 100%;
    height: 20rem;
    margin-bottom: .5rem;
    background-image: url("https://via.placeholder.com/300");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .photo-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(110px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-gap: 5px;
    margin-bottom: 1rem;
  }
  
  .photo-gallery a {
    background-color: #FF0266;
  }
  
  .photo-gallery img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 1;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
  .photo-gallery img:hover {
    opacity: .5;
  }
  
  .place-intro p {
    font-size: 1.6rem;
  }
  
  .place-contact {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  
  .place-contact p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .place-contact i {
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  
  .place-contact a {
    color: #212121;
  }
  
  .place-contact a:hover {
    color: #FF0266;
  }
  
  h4 {
    font-weight: bold;
    margin-top: .4rem;
    margin-bottom: .5rem;
  }
  
  .place-hours, .place-reviews {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    color: #616161;
  }
  
  .review-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .review-intro .place-rating {
    margin-left: 1rem;
  }
  
  .review-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .reviewer-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  
  .reviewer-profile img {
    width: 50px;
    height: 50px;
  }
  
  .reviewer-intro {
    margin-right: 1rem;
  }
  
  .reviewer-name {
    color: #FF0266;
  }
  
  .review-time {
    font-size: 1.2rem;
  }
  
  .reviewer-rating {
    margin-bottom: .5rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  
  .place-actions, .planner-actions {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .place-actions a, .planner-actions a {
    color: #ffffff;
    margin: 0 .5rem;
    padding: 1rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  }
  
  .back, .clear {
    background-color: #0336FF;
  }
  
  .back:hover, .clear:hover {
    cursor: pointer;
  }
  
  .back:active, .clear:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #002acf;
  }
  
  .heart, .save {
    background-color: #FF0266;
  }
  
  .heart:hover, .save:hover {
    cursor: pointer;
  }
  
  .heart:active, .save:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #ce0051;
  }
  
  #directionsPanel {
    font-size: 1.4rem;
  }
  
  .planner-content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: scroll;
  }
  
  .logo {
    color: #191924;
    font-size: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .logo span {
    font-family: 'Pacifico', cursive;
    margin-left: .5rem;
  }
  
  .logo i {
    font-size: 5rem;
    color: #191924;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  }
  
  header {
    width: 100%;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .planner-box {
    width: 100%;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .planner-box:hover {
    -webkit-box-shadow: 0 14px 28px rgba(194, 186, 186, 0.25), 0 10px 10px rgba(232, 228, 228, 0.22);
            box-shadow: 0 14px 28px rgba(194, 186, 186, 0.25), 0 10px 10px rgba(232, 228, 228, 0.22);
    cursor: pointer;
  }
  
  .planner-box:active {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #949494;
    border-radius: 4px 4px 0 0;
    min-height: 3.5rem;
    padding-left: 1rem;
  }
  
  .title p {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .title.clicked {
    background-color: #FF0266;
  }
  
  .weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .weather span {
    font-size: 1.4rem;
    color: #ffffff;
  }
  
  .weather img {
    width: 5rem;
    height: 5rem;
  }
  
  .planner-list {
    width: 100%;
    min-height: 15rem;
  }
  
  .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: .5rem 0;
    padding: .3rem 1rem;
    cursor: move;
  }
  
  .list-item:hover {
    background-color: #c1c1c1;
  }
  
  .list-item .item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .list-item .place-name {
    font-weight: 400;
    margin-left: 1rem;
  }
  
  .list-item .icon {
    margin-bottom: 0;
  }
  
  .item-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #616161;
  }
  
  .item-actions .delete:hover, .item-actions .duplicate:hover {
    color: #191924;
    cursor: pointer;
  }
  
  .dragging {
    opacity: .5;
  }
  
  .planner-actions {
    width: 100%;
  }
  
  *, *::before, *::after {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    list-style: none;
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
  
  @media only screen and (max-width: 1100px) {
    html {
      font-size: 50%;
    }
  }
  
  /* body, html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f4f4f4;
  } */
  
  .main-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .planner-container, .place-container {
    height: 100vh;
    width: 27vw;
    min-width: 400px;
  }
  
  .planner-container {
    padding: 1.5rem .75rem 1.5rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .place-container {
    padding: 1.5rem 1.5rem 1.5rem .75rem;
    -webkit-box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 0.3);
            box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 0.3);
  }
  
  #map {
    width: 46vw;
    height: 100vh;
    background-color: #ffffff;
  }
  
  p {
    margin: 0;
  }
  /*# sourceMappingURL=itinerary_page.css.map */