<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path Planner</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href=""><img src="{{ url_for('static', filename='images/logo-without-bg.png') }}" alt="Logo">
            </a>
        </div>
        <nav>
            <ul>
                <div class="non-auth-buttons">
                <li><button class="btn2 home-btn" onclick="location.href=''">Home</button></li>
                <li><button class="btn2 how-it-works-btn" onclick="location.href='#'">How It Works</button></li>
                </div>
                <div class="auth-buttons">
                {% if current_user.is_authenticated %}
                <li><button class="btn logout-btn" onclick="location.href='logout'">Log out</button></li>
                {% else %}
                <li><button class="btn login-btn" onclick="location.href='login'">Log In</button></li>
                <li><button class="btn signup-btn" onclick="location.href='signup'">Sign Up</button></li>
                {% endif %}
                </div>
            </ul>
        </nav>
    </header>
    
    <section class="banner">
        <h1>Embark on your Adventure</h1>
        <p>with your travel companion</p>
    </section>
    
    <section class="plan-itinerary">
        <h2>Plan your trip now!!</h2>
        <form id="itineraryForm">
            <label for="destination">Where do you wanna visit?</label>
            <input type="text" id="destination" name="destination" required>

            <label for="startDate">Start Date-</label>
            <input type="date" id="startDate" name="startDate" required>

            <label for="endDate">End Date-</label>
            <input type="date" id="endDate" name="endDate" required>

            <button type="submit" onclick="location.href='itinerary_page'">Plan Itinerary</button>
        </form>
    </section>

    <footer>
        <a href=""><img src="{{ url_for('static', filename='images/white-logo.png') }}"></a>
        <div class="footer-content">
            <p> &copy; 2024 Plan Path. All rights reserved.</p>
        </div>
        <ul class="social-media">
          <li><a href="https://gitlab.com/wanderers1/pathplan"><img src="{{ url_for('static', filename='images/gitlab-logo-500-removebg-preview.png') }}"></a></li>
        </ul>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
