<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/itinerary_page/itinerary_page.css') }}">

  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXSwfxutGMziO5ZgPvglcdV8FlI0oKqgY&libraries=places"></script>
  <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>

  <title>Trip Planner</title>
</head>

<body>

  <main class="main-container">

    <section class="planner-container">
        <header>
            <div class="logo">
                <a href="{{ url_for('views.home') }}"><img src="{{ url_for('static', filename='images/white-logo.png') }}" alt="Path Planner Logo"></a>
            </div>
        </header>
        <div class="planner-content">
            <div class="planner-box bucket">
                <div class="title"><p>Place Bucket</p></div>
                <div class="planner-list"></div>
            </div>
        </div>
    </section>

    <section class="place-container">
      <div class="place-overview">
        
      </div>
      <div id="place-num"></div>
      <div class="place-list"></div>
    </section>

    <section id="map"></section>
  </main>
</body>
</html>
