<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="signin-form">
            <h2>Login</h2>
            <form method="POST" action="{{ url_for('auth.login') }}">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="form-actions">
                    <a href="{{ url_for('auth.signup') }}" class="signup-link">New user? Sign Up</a>
                    <button type="submit">Sign In</button>
                </div>
            </form>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/bgimg.png') }}" alt="background image">
        </div>
    </div>    
</body>
</html>
