
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="signup-form">
            <h2>Sign Up</h2>
            <form method = "POST">
                <div class="name-container">
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" id="firstname" name="firstname" required>
                    </div>

                    <div class="form-group">
                        <label for="last-name">Last Name:</label>
                        <input type="text" id="last-name" name="last-name" required>
                    </div>
                </div>

                <div class="dob-city-container">
                    <div class="dob-container">
                        <label for="dob">Date of Birth:</label>
                        <input type="date" id="dob" name="dob" required>
                    </div>

                    <div class="city-container">
                        <label for="current-city">Current City:</label>
                        <select id="current-city" name="current-city" required>
                            <option value="" disabled selected>Select a city</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Pune">Pune</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Lucknow">Lucknow</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="user-id">User ID:</label>
                    <input type="text" id="user-id" name="user-id" required>
                </div>

                <div class="form-group">
                    <label for="email-id">Email ID:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password1" name="password1" required>
                </div>

                <div class="form-group">
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" id="password2" name="password2" required>
                </div>

                <div class="form-actions">
                    <a href="signin.html" class="signin-link">Already a user? Sign In</a>
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/bgimg.png') }}" alt="background image">
        </div>
    </div>    
</body>
</html>

